<header class="site-header">
  <script src="/js/jquery-2.2.1.min.js"/>
  <script type="text/javascript">
	function floatUp(){
		$(".banner-title").css("top","32px");
		setTimeout(function(){
			floatDown();
		},1000);
	}
	
	function floatDown(){
		$(".banner-title").css("top","52px");
		setTimeout(function(){
			floatUp();
		},1000);
	}
  
	$(document).ready(function($) {
		floatUp();
	});
  </script>
  <div>

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
	<div class="wrapper">
		<div class="banner-title">
		
		</div>
	</div>
	
	<div class="header">
	</div>
	
    <nav class="site-nav">

      <div class="trigger" style="display: flex; flex-direction: horizontal; justify-content:center;">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
