<header class="site-header">

  <div>

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
	<div class="wrapper">
		<div class="banner-title">
		
		</div>
	</div>
	
	<a class="header" style="display:block" href="/">
	</a>
	
    <nav class="site-nav">

      <div class="trigger" style="display: flex; flex-direction: horizontal; justify-content:center;padding:5px 0px 5px 0px">
			<a class="page-link" href="/ " {% if page.url == '/' %} style="background-color:#EEF5F5"{% endif %}>News</a>
        {% for my_page in site.pages %}
          {% if my_page.title %}
			{% if page.url == my_page.url %}
				<a class="page-link" style="background-color:#EEF5F5" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
			{% else %}
				<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
			{% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
